<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Welcome — My Portfolio</title>

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=2">


</head>
<body>
<nav class="top-nav">
  <div class="nav-icons">
    <a href="{{ url_for('index') }}" class="icon">🏠</a>
    <a href="{{ url_for('profile') }}" class="icon">👤</a>
    <a href="{{ url_for('works') }}" class="icon">📚</a>
    <a href="{{ url_for('contact') }}" class="icon">📞</a>
  </div>
</nav>


  <main class="welcome-section">
    <div class="welcome-box">
        <div class="content">
      <h1>WELCOME TO MY PORTFOLIO!</h1>
      <div class="buttons">
        <div class="buttons">
          <a href="{{ url_for('profile') }}" class="btn">GET TO KNOW ME</a>
          <a href="{{ url_for('works') }}" class="btn">SEE MY WORKS</a>
          <a href="{{ url_for('contact') }}" class="btn">CONTACT ME!</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>