<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile_styles.css') }}">
</head>
<body>
    <nav class="top-nav">
        <div class="nav-icons">
            <a href="{{ url_for('index') }}" class="icon">🏠</a>
            <a href="{{ url_for('profile') }}" class="icon">👤</a>
            <a href="{{ url_for('works') }}" class="icon">📚</a>
            <a href="{{ url_for('contact') }}" class="icon">📞</a>
        </div>
    </nav>
    
    <div class="profile-box">
        <h1>PROFILE</h1>
        <div class="profile-info">
            <div class="profile-line">NAME: LAPIRA, ALIAH JOYCE B.</div>
            <br>
            <div class="profile-line">SECTION: BSCPE 2-3</div>
            <br>
            <div class="profile-line">COURSE: DATA STRUCTURES AND ALOGRITHMS</div>
            <br>
            <div class="profile-line">PROGRAM: BACHELOR OF SCIENCE IN COMPUTER ENGINEERING</div>
        </div>
    </div>
</body>
</html>