<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Works</title>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Special+Elite&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='work.css') }}">
</head>

  <nav class="top-nav">
    <div class="nav-icons">
      <a href="{{ url_for('index') }}" class="icon">🏠</a>
      <a href="{{ url_for('profile') }}" class="icon">👤</a>
      <a href="{{ url_for('works') }}" class="icon">📚</a>
      <a href="{{ url_for('contact') }}" class="icon">📞</a>
    </div>
  </nav>

  <main class="work-section">
    <div class="work-box">
        <div class="content">
      <h1>WORKS</h1>
      <div class="buttons">
        <div class="buttons">
          <a href="{{ url_for('touppercase') }}" class="btn">UPPERCASE</a>
          <a href="{{ url_for('area_of_circle') }}" class="btn">AREA (CIRCLE)</a>
          <a href="{{ url_for('area_of_triangle') }}" class="btn">AREA (TRIANGLE)</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
